body{
	font-family: 'PT Sans', sans-serif;
	background-color: #ECECEC;
}

nav{
	background-color: #080170;
}
nav a{
	color: #FFFFFF;
}
nav a:hover{
	color: #FFFFFF;
}


.list-button{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	border-radius: 5px;
	margin: 10px;
	padding: 5px !important;
}

.brand-img{
	max-height: 100%;
}

.navbar-brand{
	padding: 0;
}

#intro{

}